.bottom_tools {
  position: absolute;
  bottom: 5%;
  width: 100vw;
  height: 15vh;
  background-color: #DCD9D4;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), radial-gradient(at 50% 0%, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.5) 50%);
  background-blend-mode: soft-light, screen;
  padding-left: 4vw;
  padding-right: 4vw;
  border-radius: 100px;
  transform: translateY(20%) scale(0.6);
}
@media (max-width: 768px) {
  .bottom_tools {
    display: none;
    transform: translateX(14%);
    height: 4vh;
    top: 2%;
    width: 80%;
  }
}
.bottom_tools .display_tools {
  display: flex;
  width: 100%;
  height: 100%;
}
.bottom_tools .display_tools li {
  display: none;
}
.bottom_tools .display_tools #page_back {
  width: 100px;
  height: 90px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../Images/items2.svg);
  align-self: center;
  flex: 1;
}
@media (max-width: 768px) {
  .bottom_tools .display_tools #page_back {
    width: 20px;
    align-self: center;
    height: 20px;
    background-size: cover;
    flex: 4;
  }
}
.bottom_tools .display_tools #page_back:hover .hidden_tools {
  visibility: visible;
  transform: translate(-30%, -105%) scale(1);
}
@media (max-width: 768px) {
  .bottom_tools .display_tools #page_back:hover .hidden_tools {
    transform: translate(-40%, -30%) scale(0.3);
  }
}
.bottom_tools .display_tools #page_back .hidden_tools {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 460px;
  background-image: linear-gradient(to top, #5f72bdd8 0%, #9a23eadd 100%);
  position: absolute;
  padding: 10px;
  border-radius: 25px;
  transform: translate(-30%, -105%) scale(0);
  transition: 0.7s;
  transition-timing-function: cubic-bezier(0.73, 0.21, 0.32, 0.95);
}
@media (max-width: 768px) {
  .bottom_tools .display_tools #page_back .hidden_tools {
    transform: translate(-48%, -49%) scale(0);
  }
}
.bottom_tools .display_tools #page_back .hidden_tools .hidden_content {
  display: flex;
  flex: 1;
  margin: 15px;
  border-radius: 25px;
}
.bottom_tools .display_tools #page_back .hidden_tools .hidden_content div:first-child {
  height: 100%;
  width: 25%;
  margin-right: 5%;
}
.bottom_tools .display_tools #page_back .hidden_tools .hidden_content div:last-child {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom_tools .display_tools #page_back .hidden_tools .hidden_content div:last-child a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 2rem;
}
.bottom_tools .display_tools .search {
  align-self: center;
  display: flex;
  height: 70%;
  width: 100%;
  flex: 13;
  margin-left: 3%;
  padding-right: 4%;
  border-radius: 240px;
  position: relative;
}
@media (max-width: 768px) {
  .bottom_tools .display_tools .search {
    flex: 30;
  }
}
.bottom_tools .display_tools .search input:first-child {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 250px;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  border-right: none;
  outline: none;
  background: white;
  padding-left: 8%;
  color: #353b48;
  font-weight: bold;
  font-size: 1.7rem;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .bottom_tools .display_tools .search input:first-child:first-child:focus {
    border: #a18cd1 3px solid;
    border-right: none;
    transition: 0.3s;
  }
  .bottom_tools .display_tools .search input:first-child:first-child:focus + input {
    border: #a18cd1 3px solid;
    border-left: none;
    transition: 0.3s;
  }
}
.bottom_tools .display_tools .search input:first-child:focus {
  border: #a18cd1 5px solid;
  border-right: none;
  transition: 0.3s;
}
.bottom_tools .display_tools .search input:first-child:focus + input {
  border: #a18cd1 5px solid;
  border-left: none;
  transition: 0.3s;
}
.bottom_tools .display_tools .search input:last-child {
  position: absolute;
  right: 0;
  height: 100%;
  border: none;
  outline: none;
  width: 10%;
  background: white;
  border-top-right-radius: 250px;
  border-bottom-right-radius: 250px;
  background-image: url(../Images/arrowhead.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
  cursor: pointer;
}
@media (max-width: 768px) {
  .bottom_tools .display_tools .search input:last-child {
    background-size: cover;
    width: 15%;
  }
}
.bottom_tools .display_tools #await_function {
  display: flex;
  align-self: center;
  margin-left: 5%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
@media (max-width: 768px) {
  .bottom_tools .display_tools #await_function {
    transform: scale(0.3);
  }
}
